@font-face {
    font-family:"Topaza1200";
    src: url(../fonts/Topaz_a1200_v1.0.ttf);
}

body {
    position: absolute;
    margin: 0;
    width: 100%;
    line-height: 20px;
    background-color: #998899;
    font-family: "Topaza1200";
}

a {
    color: #dbccda;
    text-decoration: none;
}

h3 {
    margin-top: 36px;
    margin-bottom: 0;
}

figure {
    margin: 35px 0; 
    text-align: center;
    width: 100%;
}

.main--title {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
}

.main--author {
    width: 100%;
    text-align: center;
}

.main--downloadLink {
    width: 100%;
    text-align: center;   
}

.main--images {
    width: 100%;
    text-align: center;
}

.main--images > img {
    width: 320px;
    height: 160px;
    text-align: center;
}

.main--text_screenshot {
    width: 100%;
    max-width: 520px;
    text-align: center;
}

.codeBox {
    background-color: #dbccda;
    color: #444;
    width: 85%;
    max-width: 300px;
    margin: auto;
    padding: 5px;
}

.main--index {
    margin-top: 25px;
}

.main--container_contact {
    text-align: center;
    margin-top: 50px;
}

.main--container_contact > img {
    width: 50px;
}

.main--container {
    margin: 50px auto;
    width: 60%;
    max-width: 800px;
}

@media (max-width: 600px) {
    .main--container {
      width: 90%;
    }

    .main--images > img {
        width: 272px;
        height: 136px;
    }    
  }


